{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.recipe_details'|trans({'%id%': recipe.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.recipe_details'|trans({'%id%': recipe.id|default('')}) }}</h1>
    {% if recipe is defined and recipe|length %}
        <dl class="dl-horizontal">
            <dt>{{ 'label.id'|trans }}</dt>
            <dd>{{ recipe.id }}</dd>
            <dt>{{ 'label.created_at'|trans }}</dt>
            <dd>{{ recipe.createdAt|format_date('long') }}</dd>
            <dt>{{ 'label.updated_at'|trans }}</dt>
            <dd>{{ recipe.updatedAt|format_date('long') }}</dd>
            <dt>{{ 'label.title'|trans }}</dt>
            <dd>{{  recipe.title }}</dd>
            <dt>{{ 'label.category'|trans }}</dt>
            <dd>{{  recipe.category.title }}</dd>
            <dt>{{ 'label.ingredients'|trans }}</dt>
            <dd>
                {% for item in recipe.ingredients %}
                    {{ item.title }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </dd>
            <dt>{{ 'label.content'|trans }}</dt>
            <dd>{{  recipe.content|nl2br }}</dd>
            <dt>{{ 'label.tags'|trans }}</dt>
            <dd>
                {% for item in recipe.tags %}
                    {{ item.title }}{% if not loop.last %},{% endif %}
                {% endfor %}
            </dd>
        </dl>
        <p>
            <a class="btn btn-outline-primary" href="{{ url('recipe_index') }}" title="{{ 'action.back_to_list'|trans }}">
                {{ 'action.back_to_list'|trans }}
            </a>
        </p>
        <h4>{{ 'label.comments'|trans }}</h4>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a class="btn btn-outline-primary" href="{{ url('comment_create', {id: recipe.id}) }}" title="{{ 'action.comment'|trans }}">
                {{ 'action.comment'|trans }}
            </a>
        {% else %}
            <a class="btn btn-outline-primary" href="{{ url('app_login') }}">{{ 'action_login_to_comment'|trans }}</a>
        {% endif %}
        {% if recipe.comments is defined and recipe.comments|length %}
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">{{ 'label.email'|trans }}</th>
                    <th scope="col">{{ 'label.content'|trans }}</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th>{{ 'label.actions'|trans }}</th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for comment in recipe.comments %}
                    <tr>
                        <td>{{ comment.email }}</td>
                        <td>{{ comment.content }}</td>
                        {% if is_granted('ROLE_ADMIN') %}
                            <td>
                                <a href="{{ url('comment_delete', {id: comment.id}) }}"
                                   title="{{ 'action.delete'|trans }}">
                                    {{ 'action.delete'|trans }}
                                </a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% else %}
        <p>
            {{ 'message.record_not_found'|trans }}
        </p>
    {% endif %}
{% endblock %}